@model IEnumerable<SportsStore.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>CART</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.Any())
{
    <div class="text-end">
        <h4>Total Price: @Model.Sum(item => item.Price)</h4>
        <a href="#" class="btn btn-primary">Checkout</a>
    </div>
}
else
{
    <p>Your shopping cart is empty.</p>
}
